.DS_Store
debug.keystore
package-lock.json
MSSDKDemoAppRN/android/app/google-services.json
MSSDKDemoAppRN/android/app/release/
MSSDKDemoAppRN/android/app/src/main/assets/index.android.bundle
MSSDKDemoAppRN/android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation*
MSSDKDemoAppRN/android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_lib_module_assets_searchicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_lib_module_assets_closeicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_lib_module_assets_clearicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_lib_module_assets_backicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_lib_module_assets_searchicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_lib_module_assets_closeicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_lib_module_assets_clearicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_lib_module_assets_backicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_lib_module_assets_searchicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_lib_module_assets_closeicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_lib_module_assets_clearicon.png
MSSDKDemoAppRN/android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_lib_module_assets_backicon.png
MSSDKDemoAppRN/android/app/src/main/res/raw/keep.xml
MSSDKDemoAppRN/ios/MSSDKDemoAppRN.xcworkspace/contents.xcworkspacedata
MSSDKDemoAppRN/ios/MSSDKDemoAppRN.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MSSDKDemoAppRN/ios/Podfile.lock
